body {
  background-color: #14141cdf;
  font-family: 'Courier New', Courier, monospace;

}

h1 {
  color: black;
}

section {
  background-color: rgba(17, 15, 15, 0.098);
  border-radius: 10px;
  width: 600px;
  height: 400px;
  align-items: center;
  margin: auto;
  text-align: center;
  box-shadow: 10px 10px 10px black;
  
}

input {
  font-size: 25px;
  border: 2px solid black;
  margin-top: 25px;
  background-color: #ffffffe6;
}

header {
  color: white;
  text-align: center;
}

footer{
  text-align: center;
  color: black;
  font-size: 20px;
}

div#res{
  font-size: 25px;  
}

#btn:hover{

  background-color: #0c25dc8d;
}

#seltab{
  width: 180px;
  height: 200px;
}